* {
    margin: 0;
    padding: 0;
}

#main {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#main > canvas {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin:0 auto;
    width: 800px;
    height: 600px;
    border: 4px inset black;
    
}

#sound{
    width: 30px;
    height : 30px;
    cursor: pointer;
    position: absolute; 
    top : 12px;
    left : 350px;
}
#gameover{
    position: absolute;
    width : 810px;
    height: 600px;
    background: rgba(0,0,0,0.5);
    display: none;
    top:4px;
    left :235px;
    text-align: center;
}
#youwon{
    width: 100px;
    position: absolute;
    top : 140px;
    left : 355px;
    display: none; 
}
#youlose{
    width:600px;
    position: absolute;
    display: none; 
    left: 95px;
}
#restart{
    position: absolute; 
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    color : rgb(112, 7, 7);
    border: 4px solid rgb(112, 7, 7);
    border-radius: 18px;
    padding: 5px 13px;
    background-color: rgb(226, 226, 19); 
    margin-top: 250px;
    left: 343px;
}